      <div id="task_row_<%= task.id %>">
        <% if task.id %>
            <div class="row" >
          <div class="col-md-1 col-md-offset-1">
            <%= link_to task_completed_project_task_path(project, task.id), remote:true, method: :patch do %>
              <% if task.completed == false then %>
                <i class="fa fa-square-o" id="checkbox"></i>
              <% else %>
                <i class="fa fa-check-square-o" id="checkbox"></i>
              <% end %>
            <% end %>
            <span class="deadline-formatted" ><%= task.deadline_formatted %></span>
          </div>
          <div class="col-md-7">
              <%= task.content %>
          </div>
          <div class="col-md-2">
              <div class="priority">
              <span>
              <%= link_to priority_up_project_task_path(project, task.id), method: :patch, remote: true do %>
                <i class="fa fa-sort-asc"></i>
              <% end %>
              </span>
              <span>
              <%= link_to priority_down_project_task_path(project, task.id), method: :patch, remote: true do %>
                <i class="fa fa-sort-desc"></i>
              <% end %>
              </span>
              </div>
              <%= link_to edit_project_task_path(project, task), remote: true do %>
                <i class="fa fa-pencil"></i>
              <% end %>
              <%= link_to url_for([project, task]), method: :delete, remote: true, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash"></i>
            <% end %>
          </div>
      </div>
        <% end %>
      </div>