<%= form_for(project, remote: true, html: {class: "form-inline"}) do |f| %>
  <div class="row">
  <div class="col-md-4 col-md-offset-2">
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :title, class: "form-control" %>

    <%= f.submit "Edit", class: "btn btn-default" %>
  </div>
  </div>
<% end %>

