    <% @projects.each do |project| %>
    <div class="project" id="project_<%= project.id %>">
      <%= render partial: "project", locals: {project: project} %>

          <%= form_for ([project, project.tasks.build]), remote: true, html: {class: "form-inline"} do |f| %>
          <div class="row new-task">
          <div class="col-md-1 col-md-offset-2">
            <%= f.text_field :deadline, id: "task_deadline", placeholder: "YY-MM-DD" %>
          </div>
          <div class="col-md-5">
            <%= f.text_field :content, class: "form-control", placeholder: "Start typing here to create a task" %>
          </div>
        <div class="col-md-2">
            <%= f.submit "Add task", class: "btn task" %>
          <% end %>
        </div>
      </div>
        <% project.tasks.each do |task| %>
            <%= render partial: "tasks/task", locals: {project: project, task: task} %>
        <% end %>
    </div>
    <% end %>

  <div class="row">
    <div class="col-md-5 col-md-offset-4">
      <%= link_to new_project_path, id: "new_project_link", remote: true, class: "btn project" do %>
        <i class="fa fa-plus" ></i> Add TODO list
      <% end %>
    </div>
  </div>
