<p id="notice"><%= notice %></p>
    <% @projects.each do |project| %>
    <div class="project" id="project_<%= project.id %>">
      <%= render partial: "project", locals: {project: project} %>
      <div class="row">
        <div class="col-md-1 col-md-offset-2">
          Plus sign
        </div>
        <div class="col-md-4">
          <%= form_for ([project, project.tasks.build]), remote: true, html: {class: "form-inline"} do |f| %>
            <%= f.text_field :content, class: "form-control", placeholder: "Start typing here to create a task" %>
        </div>
        <div class="col-md-2">
            <%= f.submit "Add task", class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
        <% project.tasks.each do |task| %>
            <%= render partial: "tasks/task", locals: {project: project, task: task} %>
        <% end %>
        <div id="tasks"></div>
    </div>
    <% end %>

  <div class="row">
    <div class="col-md-3 col-md-offset-4">
      <%= link_to "Add TODO list", new_project_path, id: "new_project_link", remote: true %>
    </div>
  </div>
